@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gustanlp';
  src: url('./Gustanlp-Extrablack.ttf') format('truetype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
